<!DOCTYPE html>
<html>

<head>
    <title>作業練習：元件變換</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
        integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
        integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
        integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous">
    </script>
    <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/basic/dev.html">基礎教學</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/template/basic.html">模板指令</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/components/basic.html">組件</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/vue_set.html">常用 API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/es6/let_const.html">ES6</a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container my-5">
        <div class="row">

            <div class="col-md-3">

                <div>
                    <h6 class="text-capitalize text-muted">components</h6>


                    <a href="/components/basic.html" class="btn btn-block btn-link">
                        基礎元件
                    </a>



                    <a href="/components/function_return.html" class="btn btn-block btn-link">
                        元件必須使用 function return
                    </a>



                    <a href="/components/prop_basic.html" class="btn btn-block btn-link">
                        由外到內的資料傳遞
                    </a>



                    <a href="/components/prop_adv.html" class="btn btn-block btn-link">
                        Props 注意事項
                    </a>



                    <a href="/components/prop_type.html" class="btn btn-block btn-link">
                        Props 的型別
                    </a>



                    <a href="/components/emit.html" class="btn btn-block btn-link">
                        向外層傳送事件(Data)
                    </a>



                    <a href="/components/slot.html" class="btn btn-block btn-link">
                        Slot 插槽替換
                    </a>



                    <a href="/components/is.html" class="btn btn-block btn-link">
                        動態組建切換
                    </a>



                    <a href="/components/eventbus.html" class="btn btn-block btn-link">
                        Event Bus
                    </a>



                    <a href="/components/homework_component.html" class="btn btn-block btn-primary active">
                        作業練習：元件變換
                    </a>


                </div>
            </div>

            <div class="col-md-9 post">
                <!-- 練習開始 -->
                <h1 class="mt-0 text-muted">作業練習：元件變換</h1>

                <h3>模板練習作業：Ajax 資料內容呈現</h3>
                <p>本作業一定要用到元件。</p>
                <div class="alert alert-secondary">
                    <p>提示：</p>
                    <ol class="mb-0">
                        <li>將資料內容透過 "元件" 呈現</li>
                        <li>製作城市過濾選項</li>
                        <!--filter-->
                        <li>將內層資料透過 emit 傳遞到外層 (作為另一個關注城市的呈現)</li>
                        <li>依據不同污染呈現不同色彩</li>
                        <!--class-->
                        <li>加分題：透過 localStorage 儲存上次關注的城市</li>
                    </ol>
                </div>




<!-- ============================================================================================== -->
               
               
               
               
               
               
                <div id="app">
                    <select-city 
                    :city-option=location
                    @selectEmit="selectCity()"
                    @filteremit="filterCity"
                    ></select-city>
                    <!-- <select name="" id="" class="form-control mb-3">
                        <option value="">--- 請選擇城市 ---</option>
                    </select> -->
                    <!--=============================================-->
                    
                   <stared-list
                   :stared-city-list = stared
                   @removeemit="removeStar" 
                   ></stared-list>
                    <!--=============================================-->
                    <hr>
                    
                    <!-- <city-list :city-list='data'></city-list> -->
                    <city-list 
                    :filter-city-list = filterData
                    @staremit="starCity"
                    ></city-list>
                </div>











<!-- ============================================================================= -->
                <!-- // API 來源
// https://opendata.epa.gov.tw/Data/Contents/AQI/ -->
                



                


              
        <!-- ==============================請選擇城市=============================================== -->             
                
                <script type="text/x-template" id="selectCity">
                    <select name="" id="" class="form-control mb-3"
                    v-model="filter"
                    @change="filterCity()"
                    >
                        <!-- <option value="">--- 請選擇城市 ---</option>
                        <option :value="item"
                        v-for=" (item,key) in optionData" :key=key
                        @change="selectCity(item)"
                        >{{item}}</option> -->
                        <option value="">--- 請選擇城市 ---</option>
                        <option :value="item"
                        v-for=" (item,key) in optionData" :key=key
                        >{{item}}</option>
                    </select>
                </script>

                <script>
                    Vue.component('select-city',{
                        template:'#selectCity',
                        props:['cityOption'],
                        // props:{
                        //     cityOption:{
                        //         type:String,
                        //     },
                        // }
                        data(){
                            return{
                                optionData:this.cityOption,
                                filter:''
                            }
                        },
                        methods:{
                            selectCity(city){
                                this.$emit('selectEmit',city);
                            },
                            filterCity(){
                                console.log(this.filter);
                                this.$emit('filteremit',this.filter)
                            }
                        }
                        
                    })
                </script> 



<!-- ====================================關注城市========================================= -->             
            

            <script type="text/x-template" id="staredList">
                    <div>
                        <h4>關注城市</h4>
                        <div class="card-columns">
                            <div class="card status-aqi2"
                            v-for="(item,key) in starData"
                            :key = key
                            >
                                <div class="card-header">{{item.County}} - {{item.SiteName}}
                                    <a href="#" class="float-right"
                                    @click.prevent="removeStar(item)"
                                    ><i class="fas fa-star"></i></a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                        <li>AQI 指數:{{item.AQI}}</li>
                                        <li>PM2.5:{{item['PM2.5']}}</li>
                                        <li>說明:{{item.Status}}</li>
                                    </ul>
                                    {{item.PublishTime}}
                                </div>
                            </div>
                        </div>
                    </div>               
            </script>
            <script>
                Vue.component('stared-list',{
                    template:'#staredList',
                    props:['staredCityList'],
                    data(){
                        return{
                            // 單向數據流??
                            starData:this.staredCityList
                        }
                    },
                    methods:{
                        removeStar(item){
                            this.$emit('removeemit',item);
                            // this.starData.splice會動態寫回來就好
                        }
                    }
                })
            
            </script>






        <!-- ====================================城市列表========================================= -->             
                


                <script type="text/x-template" id="cityList">
                    <div class="list">
                        <!-- <div class="card-columns" v-for="(item,index) in filterData"> -->
                        <!-- <div class="card-columns" v-for="(item,index) in cityData"> -->
                        <div class="card-columns">
                            <!-- <div class="card status-aqi2"　 v-for="(item,index) in cityList"> -->
                                <!-- :filter-city-list = filterData　 -->
                            <div 
                            class="card"
                            :class="statusColor(item.status)"
                          
                            v-for="(item,index) in filterCityList" :key = index
                            >
                                <div class="card-header">{{item.County}} - {{item.SiteName}}
                                    <a href="#" class="float-right"
                                    @click.prevent="starCity(item)"
                                    >
                                        <!-- <i class="far fa-star" title="空心"></i>
                                        <i class="fas fa-star" title="實心"></i> -->

                                        <!-- <i class="fas fa-star"
                                        v-if="item.staredStatus"
                                        key="index"
                                        ></i>
                                        <i class="far fa-star"
                                        v-if="!item.staredStatus"
                                        ></i> -->

                                        <i v-if="!item.staredStatus" class="far fa-star" title="空心"></i>
                                        <i v-else class="fas fa-star" title="實心"></i>
                                        <!-- <i v-show="!item.staredStatus" class="far fa-star" title="空心"></i>
                                        <i v-show="item.staredStatus" class="fas fa-star" title="實心"></i> -->
                                    </a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled">
                                    <li>AQI 指數:{{item.AQI}}</li>
                                    <!-- <li>PM2.5:{{item.PM2.5}}</li> -->
                                    <li>PM2.5:{{item['PM2.5']}}</li>
                                    <li>說明:{{item.Status}}</li>
                                    </ul>
                                {{item.PublishTime}}
                                </div>
                            </div>
                        </div>
                    </div>
                </script>
                <script>
                    
                    Vue.component('city-list', {
                            template: "#cityList",
                            props: ['cityList','filterCityList'],
                            data() {
                                return {
                                    cityData:this.cityList,//??
                                    
                                }
                            },
                            methods: {
                                starCity(item){
                                    this.$emit('staremit',item);
                                },
                                statusColor(status){
                                    switch(status) {
                                        case '良好':
                                        return '';
                                        break;
                                        case '普通':
                                        return 'status-aqi2';
                                        break;
                                        case '對敏感族群不健康':
                                        return 'status-aqi3';
                                        break;
                                        case '對所有族群不健康':
                                        return 'status-aqi4';
                                        break;
                                        case '非常不健康':
                                        return 'status-aqi5';
                                        break;
                                        case '危害':
                                        return 'status-aqi6';
                                        break;
                                        default:
                                        break;
                                    }
                                }

                                        
                            }

                    })
                </script>
                   
              
     <!-- ============================================================================== -->             


                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            data: [],
                            location: [],
                            stared: [],
                            filter: '',
                        },
                        mounted: function () {
                            this.getData();
                        },
                        // 請在此撰寫 JavaScript
                        methods: {
                            getData() {
                                const vm = this;
                                const api = 'http://opendata2.epa.gov.tw/AQI.json';

                                // 使用 jQuery ajax
                                $.get(api).then(function (response) {
                                    vm.data = response;
                                    vm.data.forEach(function(item,index,array){
                                    
                                    item.staredStatus="false";
                                    // vm.$set('item',staredStatus,false);
                                    // vm.$set(this.data,'item',{
                                    //     staredStatus:false
                                    // });
                                    // vm.$set(this.data.item,'staredStatus',false);
                                    // vm.$set(this.data[index],'staredStatus',false);
                                    // vm.$set(vm.data[index],'staredStatus',false);
                                    // vm.$set(vm.data.item,'staredStatus',false);
                                    vm.$set(item,'staredStatus',false);

                                    if(item.AQI<=50){
                                        item.status = "良好";
                                    }else if(item.AQI>=51&&item.AQI<=100){
                                        item.status ="普通";
                                    }else if(item.AQI>=101&&item.AQI<=150){
                                        item.status ="對敏感族群不健康";
                                    }else if(item.AQI>=151&&item.AQI<=200){
                                        item.status ="對所有族群不健康";
                                    }else if(item.AQI>=201&&item.AQI<=300){
                                        item.status ="非常不健康";
                                    }else if(item.AQI>=301&&item.AQI<=500){
                                        item.status ="危害";
                                    }

                                    if(vm.location.indexOf(item.County)==-1){
                                        vm.location.push(item.County);
                                    }

                                    
                                })
                                    console.log(response)
                                });
                            },
                            selectCity(option){
                                this.filter = option;//??
                            },
                            filterCity(filterTxt){
                                this.filter = filterTxt;
                                
                            },
                            starCity(staredItem){

                                if(this.stared.indexOf(staredItem)==-1){
                                    this.stared.push(staredItem)

                                    staredItem.staredStatus = true;
                                    
                                }else{
                                    let position = this.stared.indexOf(staredItem);
                                    this.stared.splice(position,1);
                                    staredItem.staredStatus = false;
                                }
                            },
                            removeStar(removeItem){
                                const vm = this;
                                vm.stared.forEach((item,index,arr)=>{
                                    if(item===removeItem){
                                        vm.stared.splice(index,1);
                                    }
                                })
                            }
                        },
                        computed: {
                            filterData() {
                                var vm = this;
                                if (vm.filter === "") {
                                    return vm.data;
                                } else {
                                    return vm.data.filter(function (item, index, array) {
                                        // return vm.data.County
                                        return item.County == vm.filter;
                                    })
                                }
                            },
                            // computeData(){
                            //     // switch(status){                              
                            //     // }
                            //     // return this.data.map(function(item,index,array){
                            //     return this.data.forEach(function(item,index,array){
                            //         if(item.AQI<=50){
                            //             item.status = "良好";
                            //         }else if(item.AQI>=51&&item.AQI<=100){
                            //             item.status ="普通";
                            //         }else if(item.AQI>=101&&item.AQI<=150){
                            //             item.status ="對敏感族群不健康";
                            //         }else if(item.AQI>=151&&item.AQI<=200){
                            //             item.status ="對所有族群不健康";
                            //         }else if(item.AQI>=201&&item.AQI<=300){
                            //             item.status ="非常不健康";
                            //         }else if(item.AQI>=301&&item.AQI<=500){
                            //             item.status ="危害";
                            //         }                                  
                            //     })
                                
                            // }

                        }
                    });
                </script>
                <!-- 
狀態對應表
'良好'0~50,
'status-aqi2' '普通 51~100' ,
'status-aqi3' '對敏感族群不健康 101~150 ',
'status-aqi4' '對所有族群不健康' 151~200,
'status-aqi5' '非常不健康' 201~300,
'status-aqi6' '危害 301~500'
-->
                <style>
                    .status-aqi2 {
                        background-color: #ffff00;
                    }

                    .status-aqi3 {
                        background-color: #ff7e00;
                    }

                    .status-aqi4 {
                        background-color: #ff0000;
                    }

                    .status-aqi5 {
                        background-color: #8f3f97;
                    }

                    .status-aqi6 {
                        background-color: #7e0023;
                    }
                </style>


            </div>
        </div>
    </div>
</body>

</html>