<!DOCTYPE html>
<html>

<head>
  <title>Todo 範例製作</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="shortcut icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
    integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
    integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif" crossorigin="anonymous">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
    integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous">
  </script>
  <script src="/javascripts/vendor.js"></script>

</head>

<body class="bg-lighter">
  <nav class="navbar navbar-expand-lg navbar-dark">
    
  </nav>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        </div>
      </div>

      <div class="col-md-9 post">
        <!-- 練習開始 -->
        <!-- <h1 class="mt-0 text-muted">Todo 範例製作</h1> -->

        <div class="alert alert-secondary">
          <ol class="mb-0">
            <!-- <li>請跟隨課程完成此章節。</li> -->
          </ol>
        </div>


        <div id="app">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>

            <input type="text" class="form-control" placeholder="準備要做的任務"
            v-model="newTodo"
            @keyup.enter="addTodo()"
            >
            
            <div class="input-group-append">
              <button class="btn btn-primary" type="button"
              @click="addTodo()"
              >新增</button>
            </div>

          </div>


          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"
                >
                  <a class="nav-link" href="#"
                  @click.prevent="visibility='all'"
                  :class="{'active':visibility=='all'}"
                  >全部</a>
                </li>
                <li class="nav-item"
                >
                  <a class="nav-link " href="#"
                  @click.prevent="visibility='active'"
                  :class="{'active':visibility=='active'}"
                  >進行中</a>
                </li>
                <li class="nav-item"
                >
                  <a class="nav-link" href="#"
                  @click.prevent="visibility='completed'"
                  :class="{'active':visibility=='completed'}"
                  >已完成</a>
                </li>
              </ul>
            </div>


            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item"
              v-for="todo in filters"        
              @dblclick="editTodo(todo)"  
              >
                <div class="d-flex"
                v-if="cacheTodo.id!==todo.id"
                >
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" 
                    :id="todo.id"
                    v-model="todo.completed"
                    >
                    <label class="form-check-label" 
                    :for="todo.id"
                    :class="{'completed':todo.completed}"
                    >
                      {{todo.title}}
                    </label>
                  </div>
                  <button type="button" class="close ml-auto" aria-label="Close"
                  @click="removeTodo(todo)"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <li class="list-group-item"
                v-if="cacheTodo.id===todo.id"
                > -->
                  <input type="text" class="form-control"
                  v-if="cacheTodo.id===todo.id"
                  v-model="cacheTitle"
                  @keyup.esc="cancelTodo()"
                  @keyup.enter="doneTodo(todo)"
                  >
                <!-- </li> -->
              </li>
              <!-- <li class="list-group-item">
                <div class="d-flex">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="a1">
                    <label class="form-check-label completed" for="a1">
                      Cras justo odio
                    </label>
                  </div>
                  <button type="button" class="close ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </li> -->
              <!-- <li class="list-group-item"
              v-if="cacheTodo.id===todo.id"
              >
                <input type="text" class="form-control"
                v-model="cacheTitle"
                @keyup.esc="cancelTodo()"
                @keyup.enter="doneTodo(todo)"
                >
              </li> -->
            </ul>

            <div class="card-footer d-flex justify-content-between">
              <span>還有 3 筆任務未完成</span>
              <a href="#">清除所有任務</a>
            </div>
          </div>
        </div>

        <script>
          var app = new Vue({
            el: '#app',
            data: {
                newTodo:"",
                todos:[
                  // {
                  //   id:555,
                  //   title:88,
                  //   completed:false
                  // }
                ],
                visibility:"all",
                cacheTitle:"",
                cacheTodo:{},
            },
            methods:{
              addTodo(){
                  var vm=this;
                  var timestamp = Math.floor(Date.now());
                  var value = vm.newTodo.trim();
                  if(value!==""){
                      vm.todos.push({
                        id:timestamp,
                        title:value,
                        completed:false
                      });
                      vm.newTodo="";
                  }else{
                    return
                  }
              },
              removeTodo(todo){
                  var vm=this;
                  var newIndex;
                  vm.todos.forEach((item)=>{
                    if(item.id==todo.id){
                      newIndex = vm.todos.indexOf(item)
                    }
                  })
                  vm.todos.splice(newIndex,1);
              },
              editTodo(todo){
                  var vm =this;
                  vm.cacheTitle=todo.title;
                  vm.cacheTodo=todo;
              },
              cancelTodo(){
                  var vm =this;
                  vm.cacheTitle="";
                  vm.cancelTodo={};
              },
              doneTodo(todo){
                  var vm=this;
                  todo.title=vm.cacheTitle;
                  vm.cacheTitle="";
                  vm.cacheTodo={};
              }
            },
            computed:{
              filters(){
                  var vm=this;
                  var newTodos=[];
                  if(vm.visibility=='all'){
                    return vm.todos;
                  }else if(vm.visibility=='active'){
                      vm.todos.forEach((item,index)=>{
                          if(!item.completed){
                            newTodos.push(item);
                          }
                      })
                      return newTodos;
                  }else if(vm.visibility=='completed'){
                      vm.todos.forEach((item)=>{
                        if(item.completed){
                          newTodos.push(item);
                        }
                      })
                      return newTodos;
                  }
              }
            }
          });
        </script>

        <style>
          .completed {
            text-decoration: line-through
          }
        </style>

      </div>
    </div>
  </div>
</body>

</html>